body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

#header-links {
  position: relative;
  text-align: right;
  margin-top: 20px;
}
#header-links a {
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  font-size: 13px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
}
#header-links a:hover {
  text-decoration: underline;
}

.logo-container {
  position: relative;
  text-align: center;
}

.search-bar {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
}
.search-bar:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.search-bar:focus {
  outline: none;
}

/* Homepage */
#logo-container-hp {
  width: 272px;
  margin: 220px auto 0px;
}

#sb-container-hp {
  margin-top: 22px;
  text-align: center;
}

#search-bar-hp {
  height: 38px;
  width: 82%;
  max-width: 544px;
  font-size: 14px;
  padding: 3px 20px;
}

#button-container {
  display: block;
  width: 100%;
  margin-top: 18px;
}
#button-container input[type=submit] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
#button-container input[type=submit]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Image search */
#logo-container-img {
  width: 244px;
  margin: 139px auto 0px;
}
#logo-container-img span {
  color: #4285f4;
  font-size: 14px;
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  position: absolute;
  bottom: 2px;
  right: 6px;
}

#sb-container-img {
  margin-top: 16px;
  text-align: center;
}

#search-bar-img {
  position: relative;
  margin: 0 auto;
  height: 39px;
  width: 44.4%;
  max-width: 477px;
}
#search-bar-img input {
  font-family: Roboto, RobotoDraft, Arial, sans-serif;
  display: flex;
  font-size: 14px;
  top: 0;
  margin-left: 34px;
  height: 37px;
  width: 72%;
  padding: 0 8px;
  border: none;
  background: transparent;
}
#search-bar-img input:focus {
  outline: none;
}

#left-magnifying-glass {
  position: absolute;
  left: 12px;
  top: 8px;
}

#camera-icon-container {
  position: absolute;
  right: 53px;
  top: 8px;
}

#hidden-button {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Advanced Search only */
#header-logo {
  position: absolute;
  top: 2px;
  left: 20px;
}

h2 {
  color: #d93025;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  color: #333;
  font-size: 16px;
  font-weight: normal;
}

#header-container {
  margin: 51px 0 25px 45px;
}

#divider {
  border-bottom: 1px solid #ebebeb;
}

#adv-form-container {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 46px 2% 0 45px;
}

#adv-form {
  position: relative;
}
#adv-form input[type=text] {
  float: left;
  display: block;
  width: 97%;
  font-size: 14px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top-color: #d9d9d9;
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}
#adv-form input[type=text]:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}
#adv-form input[type=submit] {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  padding: 0 12px;
  user-select: none;
  line-height: 100%;
  height: 30px;
  width: 120px;
  outline: none;
}
#adv-form input[type=submit]:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
}

#adv-form-header {
  height: 36px;
}

.adv-form-section {
  width: 100%;
  clear: both;
}

.label-container {
  float: left;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
}

.label-inner {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.input-container {
  display: inline-block;
  min-width: 167px;
  width: 50%;
}

.submit-inner {
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
